body {
  width: 100vw;
  background-color: #9e9184;
}
* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  height: 700px;
  width: 100vw;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  transition: 1s smooth;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}
.image-block {
  min-width: 300px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  transform: rotate(20deg);
  transition: 1s;
  position: relative;
}
.image-cont {
  /* border: 2px solid #000; */
  position: absolute;
}
.left-arrow,
.right-arrow {
  position: absolute;
  bottom: 0;
  user-select: none;
  font-size: 2rem;
  cursor: pointer;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
#one {
  transform: rotate(-20deg);
}
#two {
  transform: rotate(20deg);
}
#three {
  transform: rotate(-10deg);
}
#four {
  transform: rotate(-25deg);
}
#five {
  transform: rotate(30deg);
}
#six {
  transform: rotate(10deg);
}
#seven {
  transform: rotate(-20deg);
}
img {
  width: 200px;
  height: 200px;
}
.image-block:hover {
  transform: rotate(0);
}
.margin-maker {
  transform: rotate(0);
  padding: 200px;
  margin: 0 60vw;
  /* transform: scale(1); */
}
.rotate-right {
  transform: rotate(10deg);
}
.rotate-center {
  transform: rotate(0deg);
}
.rotate-left {
  transform: rotate(-10deg);
}
#inone,
#intwo {
  transition: 2s;
}
.godown {
  margin-top: 200vh;
}
